.bg-image{
    background-image: url("./../images/Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
}
.web-image-row{
    text-align: center;
    margin-top: 8em;
    overflow: hidden;
}
.web-image{
    border-radius: 50%;
    height: 17em;
    box-shadow: 1px 1px 10px black;
    transition: all 0.5s;
    animation-duration: 1s;
    animation-name: web-image;
}
@keyframes web-image{
    from{
        transform: translateY(-20em);
        opacity: 0;
    }
    to{
        transform: translateY(none);
        opacity: 1;
    }
}
.todo-heading ,.todolist-heading{
    text-align: center;
    color: #2abe8b;
    font-family: georgia;
    transition: all 0.5s;
    animation-duration: 1s;
    animation-name: todo-heading;
    text-shadow: 2px 2px 5px black;
}
@keyframes todo-heading{
    from{
        transform: translateY(5em);
        opacity: 0;
    }
    to{
        transform: translateY(none);
        opacity: 1;
    }
}
.input-group{
    text-align: center;
    width: 14em;
    margin: 1em auto;
    position: relative;
    color: #2abe8b;    
    font-size: 18px; 
}
input{
    border: none;
    display: block;
    padding:10px 10px 10px 5px;
    margin: 0.5em auto;
    color: white;
    background-color: transparent;
    border-bottom: 1px solid white;
}
input:focus{ 
    outline:none; 
}
label{
    position: absolute;
    font-weight: normal;
    left: 10px;
    top: 15px;
    transition:0.2s ease all;
    pointer-events:none;
}
input:focus ~ label, input:valid ~ label{
    top: -10px;
    font-size: 14px;
    color:white;
}
.bar{ 
    position:relative; 
    display:block;
}
.bar:before, .bar:after{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#2abe8b; 
    transition:0.2s ease all; 
    top: -10px;
}
.bar:before {
    left:50%;
}
.bar:after {
    right:50%; 
}
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
}
.highlight {
    position:absolute;
    height:60%; 
    width: 0%; 
    top:25%; 
    left:0;
    opacity:0.5;
    z-index: -10;
}
input:focus ~ .highlight {
    animation:inputHighlighter 0.5s ease;
    z-index: auto;
    animation-fill-mode: forwards;
}
@keyframes inputHighlighter {
    from  { 
        background:white; 
    }
    to  { 
        width:100%; 
        background:transparent; 
    }
}
.Todobtn{
    color: white;
    border: 1px solid #2abe8b;
    padding: 0.5em 1em;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    position: relative;
    transition: all 0.3s;
}
.Todobtn::after{
    height: 0%;
    left: 0;
    content: 'Add in List';
    position: absolute;
    top: 0px;
    overflow: hidden;
    color: white;
    width: 100%;
    background-color: #2abe8b;
    transition: all 0.3s;
}
.TodobtnClear::after{
    content: 'Clear List';
}
.Todobtn:hover:after {
    height: 100%;
    padding-top: 0.4em;
}
.todolist-heading{
    animation: none;
}
.todolist-heading::after{
    content: "";
    border: 0.5px solid white;
    height: 1px;
    width: 10em;
    display: block;
    margin: 1em auto;
}
.list{
    text-align: center;
    color: white;
    margin-bottom: 5em;
}
.eachTodoContainer{
    margin: 2em auto;
    /* display: inline; */
    border-bottom: 1px solid white;
}
.TodoContent{
    display: inline-block;
    text-align: left;
    width: 82%;
}
.glyphicon{
    font-size: 1.2em;
    width: 6%;
    display: inline-block;
    transition: all 0.2s;
    cursor: pointer;
    margin: 0em 0.2em;
}
.glyphicon:hover{
    color: #2abe8b; 
}
@media screen and (max-width:480px) {
    .TodoContent{
        width: 80%;
    }
}
@media screen and (max-width:370px) {
    .TodoContent{
        width: 77%;
    }
}
.EditCover{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(47, 47, 47, 0.8);
    transition: all 0.8s;
}
.EditCover>row{
    overflow: hidden;
}
.EditContainer{
    background-color: white;
    color: black;
    margin: 10em auto;
    padding: 0px;
}
#EditAnimation{
    animation-name: edit;
    animation-duration: 0.8s;
}
@keyframes edit{
    from{
        transform: translateY(-30em);
        opacity: 0;
    }
    to{
        transform: translateY(auto);
        opacity: 1;
    }
}
.EditContainer>h1{
    font-family: georgia;
    margin: 0px;
    text-align: center;
    background-color: #2abe8b;
    color: white;
}
.EditContainer textarea{
    width: 90%;
    margin: 1em auto;
    display: block;
    height: auto;
    padding: 1em 2em;
    height: 10em;
}
.EditContainer .btn{
    background-color: #2abe8b;
    color: white;
    float: right;
    margin: 0.5em 0.5em;
}